<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'frontend/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}" />
    <title>My Werrtical World</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
